html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer_text {
	padding-top: 20px;
}

.footer_data,
.footer_text {
	text-align: center;
}

.footer_data {
	margin-top: -10px;
	font-size: 1.1rem;
}
